[Desktop Entry]
Name=@@TITLE@@
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=AppRun %f
Icon=@@NAME@@
Type=Application
StartupNotify=false
StartupWMClass=@@NAME@@
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-@@NAME@@-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=AppRun --new-window %F
Icon=@@NAME@@